@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: thin;
  // scrollbar-color: #ccc;
}

body {
  font-size: 16px;
  // font-family: "Roboto Mono", sans-serif;
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .align-center {
    text-align: center;
  }

  body {
    @apply md:text-sm;
  }
}

.perfect-scrollbar {
  overflow: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: #e9ecef;
    cursor: pointer;
  }
}

.manual_grid_300 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  @media screen and (max-width: 720px) {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

.manual_grid_220 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  @media screen and (max-width: 720px) {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
